dvc~=3.48.4
tqdm~=4.66.2
easydict~=1.12
pandas~=2.2.1
pyyaml~=6.0.1
pyarrow~=15.0.2
neptune~=1.9.1
mlflow~=2.11.3
torch~=2.2.1
numpy~=1.26.4
python-dotenv~=1.0.1
scikit-learn~=1.4.1.post1
plotly~=5.20.0
optuna~=3.6.1
neptune-optuna==1.2.0
fastapi~=0.110.2
uvicorn~=0.29.0
clickhouse-connect~=0.7.8
requests~=2.31.0
streamlit~=1.36.0
dash~=2.17.0
cython~=3.0.10
websocket-client~=1.8.0
websockets~=12.0